body {
    background: url(images/background.png);
    margin: 0px;
    padding: 0px;
    
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: bold;
    color: tan;
    font-family: 'Oswald', sans-serif; 
}

.wrapper {
    width: 540px;
    background: white;
    margin: auto;
    padding: 20px;
}

.ni12 {
    color: black;
    
}

.ni34 {
    color: tan;
    
}

#page {
    
}
