html {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
   
}

/*_____To get rid of Nav/search button on web view___*/

		@media (min-width: 769px) and (max-width: 2400px) {
			
			div#rwdnavbar  {
				display: none; 
}
			
        }
/* search bar - begin */


input[type="form"] {
    
    border: 11px solid gold;
    width: 310px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}

::-webkit-input-placeholder {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.searchbutton {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    position: absolute;
    top: 138%;
    left: 44%;

}

form {
    width:200px;
    margin:10px auto;
    top: 60%;
    left: 80%;
    position: absolute;
    margin: 10px;
    
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/* search bar - END */



* {
  box-sizing: border-box;
}

body {
    background-color: gold; 
    width: 87%; 
	margin-left:9%;
	margin-right: 9%;
}


#signup {
    position: absolute;
    top: 40%;
    left: 3.5%;
    width: 40%;
}

h1 {
    font-size: 35px;
    position: absolute;
    left: 31%;
    top: 25%;
    border: 3px solid black;
    padding: 10px;
}

h2 {
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 84%;
    padding: 10px;
    color: red;
}

.formplace {
    width: 100%
}

.submitclass {
    position: absolute;
    top: 81%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: gold;
}

.formgroup {
    font-size: 25px;
    width: 200%;
}

nav {
    position: relative;
}

.navholder {
    
    width: 100%;
    z-index: 100;
    height: 0%;
    float: left;
    z-index: 0;
    margin-bottom: 3%;
}

nav:hover .nav-list {
    top: 0;
     max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

.nav-list {
    top: 35%;
    left: 10%;
    z-index:1;
    max-height:0;
    overflow: hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}

.nav-list li {
    float: left;
    width: -6%;
    font-size: 20.4px;
    text-align: center;
    background-image:none;
    background-color: black;
    display: block;
    margin: 0px;
    padding: 29px;
    position: relative;
    top: 0%;
    left: 10%;
}

.music {
    color: gold;
}

.art {
    color: lightskyblue;
}

.culture {
    color: red;
}

.tech {
    color: silver;
}

.sports {
    color: green;
}



.nav-list li:first-child {
    background: none;
}

.nav-list a {
    text-decoration: none;
}

.nav-list a:hover {
    color: gold;
    text-decoration: none;
}


.nav-list li:a:hover {
    background-color: blue;
}

#nbl {
    float: left;
    width: 140px;
    position: absolute;
    top: -10%;
    left: 43%;
    
}



/* footer */




.sform {
    position: absolute;
    top: 15%;
    left: 46%;
    padding: 0px;
}



.footerbox {
    position: absolute;
     top: 120%;
    left: 0%;
    width: 100%;
    height: 30%;
    background: black; 
    
}

.footerlinks {
    position: absolute;    
    text-align: left;
    width: 100%;
    top: -8%;
    left: 0%;
    float: left;
    padding: 15px;
}

#footlinks li {
    display: inline;
}

.footerlinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footerlinks a:hover {
    color: gold;
    text-decoration: none;
}

.footerlinks li:a:hover {
    background-color: blue;
}

.footernavlist a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footernavlist a:hover {
    color: gold;
    text-decoration: none;
}

.footernavlist li:a:hover {
    background-color: blue;
}

.footernavlist {
    position: absolute;    
    text-align: left;
    width: 7%;
    top: 118%;
    left: 92%;
    float: right;
    padding: 5px;
}

.signupnews {
    position: absolute;
    z-index: 2001;
    top: 125%;
    left: 32%;
    color: gold;
    font-size: 34px;
    border: 2px solid gold;
    padding: 5px;

}


/********************* media query ipad ******************************/

@media (max-width:768px) {
    
 html {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
   
}



/* search bar - begin */


input[type="form"] {
    
    border: 11px solid gold;
    width: 210px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}

::-webkit-input-placeholder {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.searchbutton {
    display: inline;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    width: 103%
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    position: absolute;
    top: 138%;
    left: 45%;

}

form {
    width:200px;
    margin:10px auto;
    top: 60%;
    left: 80%;
    position: absolute;
    margin: 10px;
    
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/* search bar - END */



* {
  box-sizing: border-box;
}

body {
    background-color: gold; 
    width: 87%; 
	margin-left:9%;
	margin-right: 9%;
}


#signup {
    position: absolute;
    top: 40%;
    left: -13.5%;
    width: 40%;
}

h1 {
    font-size: 35px;
    position: absolute;
    left: 11%;
    top: 25%;
    border: 3px solid black;
    padding: 10px;
    width: 76%
}

h2 {
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 84%;
    padding: 10px;
    color: red;
}

.formplace {
    width: 100%
}

.submitclass {
    position: absolute;
    top: 81%;
    left: 43%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: gold;
}

.formgroup {
    font-size: 25px;
    width: 200%;
}

nav {
    position: relative;
}

.navholder {
    
    width: 100%;
    z-index: 100;
    height: 0%;
    float: left;
    z-index: 0;
    margin-bottom: 3%;
}

#rwdnavbar {
    float: left;
    width: 84.5%;
    height: 10%;
    font-size: 20.4px;
    text-align: left;
    background-color: black;
    display: inline;
    margin: 0px;
    padding: 1px;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1005;
    text-decoration: none;
}
    
#rwdnavbar li {
    display: inline;
    padding: 9px;
    text-decoration: none;
    
}

.music {
    color: gold;
    text-decoration: none;
}

.art {
    color: lightskyblue;
    text-decoration: none;
}

.culture {
    color: red;
    text-decoration: none;
}

.style {
    color: silver;
    text-decoration: none;
}

.sports {
    color: green;
    text-decoration: none;
}



.nav-list li:first-child {
    background: none;
}

.nav-list a {
    text-decoration: none;
}

.nav-list a:hover {
    color: gold;
    text-decoration: none;
}


.nav-list li:a:hover {
    background-color: blue;
}

#nbl {
    float: left;
    width: 140px;
    position: absolute;
    top: 20%;
    left: -10%;
    z-index: 20001
    
}



/* footer */




.sform {
    position: absolute;
    top: 15%;
    left: 46%;
    padding: 0px;
}



.footerbox {
    position: absolute;
     top: 120%;
    left: 0%;
    width: 100%;
    height: 30%;
    background: black; 
    
}

.footerlinks {
    position: absolute;    
    text-align: left;
    width: 100%;
    top: -8%;
    left: 0%;
    float: left;
    padding: 15px;
}

#footlinks li {
    display: inline;
}

.footerlinks a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footerlinks a:hover {
    color: gold;
    text-decoration: none;
}

.footerlinks li:a:hover {
    background-color: blue;
}

.footernavlist a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footernavlist a:hover {
    color: gold;
    text-decoration: none;
}

.footernavlist li:a:hover {
    background-color: blue;
}

.footernavlist {
    position: absolute;    
    text-align: left;
    width: 7%;
    top: 118%;
    left: 90%;
    float: right;
    padding: 5px;
}

.signupnews {
    position: absolute;
    z-index: 2001;
    top: 125%;
    left: 32%;
    color: gold;
    font-size: 24px;
    border: 2px solid gold;
    padding: 5px;
    width: 48%
}

    /******************************************************************************************************************************************************************/

/*mobile portrait*/
	
@media(max-width:415px) {
    
        
   
 html {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
   
}



/* search bar - begin */


input[type="form"] {
    
    border: 11px solid gold;
    width: 210px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}

::-webkit-input-placeholder {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.searchbutton {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

form {
    width:200px;
    margin:10px auto;
    top: 60%;
    left: 80%;
    position: absolute;
    margin: 10px;
    
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
/* search bar - END */



* {
  box-sizing: border-box;
}

body {
    background-color: gold; 
    width: 87%; 
	margin-left:9%;
	margin-right: 9%;
}


#signup {
    position: absolute;
    top: 37%;
    left: -27.5%;
    width: 60%;
}

h1 {
    font-size: 15px;
    position: absolute;
    left: 20%;
    top: 30%;
    border: 3px solid black;
    padding: 5px;
    width: 62%
}

h2 {
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 84%;
    padding: 10px;
    color: red;
}

.formplace {
    width: 110%
}

.submitclass {
    position: absolute;
    top: 81%;
    left: 40%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: gold;
}

.formgroup {
    font-size: 25px;
    width: 100%;
}

nav {
    position: relative;
}

.navholder {
    
    width: 100%;
    z-index: 100;
    height: 0%;
    float: left;
    z-index: 0;
    margin-bottom: 3%;
}


#rwdnavbar {
    float: left;
    width: 90.5%;
    height: 10%;
    font-size: 15.4px;
    text-align: center;
    background-color: black;
    display: inline;
    margin: 0px;
   
    position: absolute;
    top: 16%;
    left: 5%;
    z-index: 1005;
    text-decoration: none;
}
    
#rwdnavbar li {
    display: inline;
    text-align: left;
    padding: -180px;
    text-decoration: none;
    position: relative;
    width: 250%;
    height: 1%;
    top: -26%;
    left: -18%;
}


.music {
    color: gold;
    text-decoration: none;
}

.art {
    color: lightskyblue;
    text-decoration: none;
}

.culture {
    color: red;
    text-decoration: none;
}

.style {
    color: silver;
    text-decoration: none;
}

.sports {
    color: green;
    text-decoration: none;
}


#nbl {
    float: left;
    width: 100px;
    position: absolute;
    top: -80%;
    left: 35%;
    
}




/* footer */




.searchbutton {
    position: absolute;
    top: 140%;
    left: 30%;
    width: 40%
}

.searchbutton2 {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}
    
.submitbutton {
    position: absolute;
    top: 70%;
    left: 49.6%;
}



.footerbox {
    position: absolute;
     top: 120%;
    left: 0%;
    width: 100%;
    height: 40%;
    background: black; 
    
}

.footerlinks {
    position: absolute;    
    text-align: left;
    width: 80%;
    top: 77%;
    left: 15%;
    float: left;
    padding: 0px;
}

.footerlinks li {
    display: inline;
    
}

.footerlinks a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.footerlinks a:hover {
    color: gold;
    text-decoration: none;
}

.footerlinks li:a:hover {
    background-color: blue;
}


.footernavlist {
    position: absolute;    
    text-align: left;
    width: 110%;
    top: 121%;
    left: -4%;
    float: right;
    font-size: 4px;
}

.footernavlist a {
}    
    
    
.footernavlist li {
    display: inline;
     padding: 16px;
}


    
.signupnews {
    position: absolute;
    z-index: 2000;
    top: 130%;
    left: 12%;
    width: 80%;
    color: gold;
    font-size: 20px;
    border: 2px solid gold;
    padding: 5px;

}
    
}