body {
    background: url(y01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0px;
    padding: 0px;
    
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: bold;
    color: tan;
    font-family: 'Montserrat', sans-serif; 
}

.wrapper {
    max-width: 300px;
    background: transparent;
    margin: auto;
    padding: 20px;
}

.ni12 {
    color: black;
    
}

.ni34 {
    color: tan;
    
}

#page {
    
}


.padded {
    object-position: bottom;
    border: 0px solid white;
}

#header { 
    width: 446px;
    height: 103px;
     position: relative;
     position:absolute; bottom: 0;
}

.h1l {  
  position: relative;
  top: 100px;
  left: 30px;
  background-color: transparent;
    font-size: 40px;
  width: 230px;
    height: 60px;
    font-weight: bold;
    color: White;
    font-family: 'Oswald', sans-serif; 
     text-decoration: none

}

.h2l {  
  position: relative;
  top: 100px;
  left: 30px;
  background-color: transparent;
    font-size: 25px;
  width: 350px;
    height: 300px;
    font-weight: normal;
    color: White;
    font-family: 'Oswald', sans-serif; 
     text-decoration: none

}


.h1r {  
  position: relative;
  top: -250px;
  left: 870px;
  background-color: transparent;
    font-size: 40px;
  width: 330px;
    height: 60px;
    font-weight: bold;
    color: White;
    font-family: 'Oswald', sans-serif; 

}

.h2r {  
  position: relative;
  top: -250px;
  left: 870px;
  background-color: transparent;
    font-size: 25px;
  width: 350px;
    height: 300px;
    font-weight: normal;
    color: White;
    font-family: 'Oswald', sans-serif; 

}
